/week4/HelloAndroid/bin
/week4/HelloAndroid/target/
/week4/HelloAndroid/*.bak
/week4/HelloAndroid/.settings/
/week4/HelloAndroid/test-output
/week4/HelloAndroid/result
/week4/HelloAndroid/result/log/*.log
/week4/HelloAndroid/result/screenshot
/week4/HelloAndroid/result/test-report
/week4/HelloAndroid/.classpath
/week4/HelloAndroidTest/bin
/week4/HelloAndroidTest/target/
/week4/HelloAndroidTest/*.bak
/week4/HelloAndroidTest/.settings/
/week4/HelloAndroidTest/test-output
/week4/HelloAndroidTest/result
/week4/HelloAndroidTest/result/log/*.log
/week4/HelloAndroidTest/result/screenshot
/week4/HelloAndroidTest/result/test-report
/week4/HelloAndroidTest/.classpath
